.manager-wapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.manager-main{
    display: flex;
    width: 80%;
    height: 100%;
}
.block{
    margin-top: 50px;
    width: 70%;
    border: 0.5px solid gray;
}
.manager-sidebar{
    width: 20%;
    margin-top: 30px;
}
.manager-sidebar ul li{
    list-style: none;
    padding: 20px;
    color: gray;
}
.manager-sidebar ul{
    margin: 0;
    padding: 0;
}
.division{
    border: 0.2px solid gray;
}