.manager-wapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: #444444;
}
.manager-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444444;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 30px;

}
.manager-main{
    display: flex;
    width: 90%;
    height: 100%;
}
.block{
    margin-top: 50px;
    width: 100%;
    height: 0.5px;
    background-color: lightgray;
}
.manager-sidebar{
    width: 15%;
    margin-top: 30px;
}
.manager-sidebar ul li{
    list-style: none;
    padding: 20px;
    color: #444444;
}
.manager-sidebar ul{
    margin: 0;
    padding: 0;
}
.division{
    width: 0.5px;
    height: 500px;
    background-color: lightgray;
}
.logoBtn{
    border:none;
    background-color: #FFFFFF;
}