
.manager-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    margin-top: 30px;
    justify-content: center;
    padding: 0 30px;

}
.displaybox{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
    padding-left: 20px;
}
.img-category{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.priview_grid{
    width: 300px;
    height: 300px;
    background-color: rgb(243, 241, 241);
    margin-top: 30px;
}
.priview_img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.priview{
    display: block;
    width: 100%;
}
.product_title{
    margin-top: 20px;
    width: 100%;
    height: 20px;
    border: 0px;
    background-color: rgb(243, 241, 241);
    text-align: left;
    padding: 5px;
}
.select-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-self: center;
    
}
.select-box-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.selectLabel{
    font-size: 15px;
    padding: 5px;
}
.select_category{
    font-size: 12px;
    padding: 5px;
    width: 20%;
}
.product_price{
    height: 20px;
    border: 0px;
    background-color: rgb(243, 241, 241);
    text-align: left;
    padding: 5px;
}
.price_label{
    padding-right:10px;
    font-size: 15px;
}
.product_stock{
    height: 20px;
    border: 0px;
    background-color: rgb(243, 241, 241);
    text-align: left;
    padding: 5px;
}
.content_box{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.product_content{
    align-items: flex-start;
    text-align: left;
    padding: 5px;
    margin-left: 5px;
    width: 100%;
    height: 70px;
    border: 0px;
    background-color: rgb(243, 241, 241);
}
.product-butten{
    border: 0px;
}


.product_price_stock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
