.detail_wapper{
    width: 80%;
    height: 100%;
    font-weight: 400;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    font-size: 13px;
}
.detail_img{
    width: 50%;
    object-fit: contain;
}
.detail_category{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
}
.detail_box{
    width: 100%;
    padding: 5px 0 0;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: flex-start;
}
.detail_box_name{
    display: flex;
    padding: 5px;
    align-items: center;
    font-size: 12px;
    width: 30%;
    height: 50%;
    margin-right: 10px;
    border: 1px solid lightgray;
}
.detail_box_row{
    width: 100%;
    display: flex;
}
.detail_button{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.detail_button button{
    width: 40%;
    font-size: 10px;
    background-color: rgb(243, 241, 241);
    margin-right: 10px;
}

